<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Bee - Ian Destura</title>
    <link rel="stylesheet" href="../assets/dist/style.css">
    <link rel="shortcut icon" href="../assets/img/icon.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="box">
            <h1 style="margin-bottom: 1.8rem">Your Score</h1>
            <h1 class="score" style="font-size: 70px;font-family: Spartan;font-weight: 900;margin-bottom: 2rem;"> </h1>
            <a class="result-btn">Result</a>
            <a class="play-btn">Try Again</a>
            <a class="save-btn">Save</a>
            <a class="home-btn">Go Home</a>
        </div>
    </div>
</body>
<script src="../assets/jquery/dist/jquery.min.js"></script>
<script src="../assets/dist/score.js"></script>
</html>